<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">


<ui:composition>
	<p:panel header="Graph" style="margin-bottom:20px">

		<h:form>

			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">

				<p:selectManyCheckbox id="grid3" value="#{area.metricAttributeId}" layout="pageDirection" columns="1">
					<f:selectItems value="#{area.listMetricAttributesOfMetricsGraph()}" var="attr" itemLabel="#{attr.attributeName}"
						itemValue="#{attr.id}" />
					<p:ajax partialSubmit="true" immediate="true" process="@form" update="@this chart :msg" />
					
				</p:selectManyCheckbox>

				<p:chart id="chart" type="line" model="#{area.getModel(60)}" style="height:300px" responsive="true" rendered="#{not empty area.listMetricAttributesOfMetricsGraph()}"/>

			</p:panelGrid>
		</h:form>

	</p:panel>

</ui:composition>

</html>
