<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">


	<ui:composition>
	<h:form>
<p:tabMenu activeIndex="#{param.i}">
	<p:menuitem value="Alerts" outcome="alerts" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Servers" outcome="index" icon="ui-icon-star">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Weblogic instances" outcome="servers" icon="ui-icon-search">
        <f:param name="i" value="2" />
    </p:menuitem>
    <p:menuitem value="DataSources" outcome="datasources" icon="ui-icon-document">
        <f:param name="i" value="3" />
    </p:menuitem>
    <p:menuitem value="JMS" outcome="jms" icon="ui-icon-wrench">
        <f:param name="i" value="4" />
    </p:menuitem>
    <p:menuitem value="Applications" outcome="applications" icon="ui-icon-person">
        <f:param name="i" value="5" />
    </p:menuitem>
    <p:menuitem value="SOA" outcome="soa" icon="ui-icon-person">
        <f:param name="i" value="6" />
    </p:menuitem>
    <p:menuitem value="OSB" outcome="osb" icon="ui-icon-person">
        <f:param name="i" value="7" />
    </p:menuitem>
    <p:menuitem value="Coherence" outcome="coherence" icon="ui-icon-wrench">
        <f:param name="i" value="78" />
    </p:menuitem>
</p:tabMenu>
</h:form>
	</ui:composition>

</html>
