<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.appComponentlication" var="msg"/>

<h:head>
    <title>Alerts</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Alerts</h3>
			
			<p:dataTable var="appComponent" value="#{infrastructureUI.applicationWebComponents}">
			    
			    <p:column headerText="Date">
			        <p:calendar value="#{alert.datetime}" />
			    </p:column>
			    
			    <p:column headerText="Gravity">
			        <h:outputText value="#{alert.gravity}" />
			    </p:column>
			    
			    <p:column headerText="Name">
			        <h:outputText value="#{alert.name}" />
			    </p:column>
			    
			    <p:column headerText="Action">
			        <h:outputText value="#{alert.action}" />
			    </p:column>
			    
			     <p:column headerText="Graph">
			        <h:graphicImage value=""  />
			    </p:column>
			    
			</p:dataTable>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
