<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.appComponentlication" var="msg"/>

<h:head>
    <title>Web Applications</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Web Applications</h3>
			
			<p:dataTable var="appComponent" value="#{infrastructureUI.applicationWebComponents}">
			    
			    <p:column headerText="Name">
			        <h:outputText value="#{appComponent.getAttributeValue('ComponentName')}" />
			    </p:column>
			    
			    <p:column headerText="Context">
			        <h:outputText value="#{appComponent.getAttributeValue('ContextRoot')}" />
			    </p:column>
			    
			 	<p:column headerText="Server">
			        <h:outputText value="#{appComponent.owner.server}" />
			    </p:column>
			    
			    <p:column headerText="Status">
			        <h:outputText value="#{appComponent.getAttributeValue('Status')}" />
			    </p:column>
			    
			    <p:column headerText="WorkManager">
			        <h:outputText value="#{appComponent.getAttributeValue('WorkManagerRuntimes')}" />
			    </p:column>
			    
			    <p:column headerText="Sessions opened">
			        <h:outputText value="#{appComponent.getAttributeValue('OpenSessionsCurrentCount')}" />
			    </p:column>
			    
			    <p:column headerText="Sessions total">
			        <h:outputText value="#{appComponent.getAttributeValue('SessionsOpenedTotalCount')}" />
			    </p:column>
			    
			    <p:column headerText="Sessions high">
			        <h:outputText value="#{appComponent.getAttributeValue('OpenSessionsHighCount')}" />
			    </p:column>
			    
			</p:dataTable>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
