<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>Coherence</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Coherence</h3>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
