<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>DataSources</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Datasources</h3>
			<p:dataTable var="ds" value="#{infrastructureUI.dataSources}" selection="#{area.selectedJmxMetrics}" rowKey="#{ds.jmx_name}" 
				style="margin-bottom:0">
			
				<f:facet name="header">
		            Checkbox
		        </f:facet>
		        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
		        
				<p:column headerText="Name">
			        <h:outputText value="#{ds.getAttributeValue('Name')}" />
			    </p:column>
			    
			    <p:column headerText="Server">
			        <h:outputText value="#{ds.owner.server}" />
			    </p:column>
			 
			    <p:column headerText="Status">
			        <h:outputText value="#{ds.getAttributeValue('State')}" />
			    </p:column>
			    
			    <p:column headerText="Active">
			        <h:outputText value="#{ds.getAttributeValue('ActiveConnectionsCurrentCount')}" />
			    </p:column>
			    
			    <p:column headerText="Current">
			        <h:outputText value="#{ds.getAttributeValue('CurrCapacity')}" />
			    </p:column>
			    
			    <p:column headerText="Total">
			        <h:outputText value="#{ds.getAttributeValue('ConnectionsTotalCount')}" />
			    </p:column>
			</p:dataTable>

			<h:form>
				<p:panel header="Graph" style="margin-bottom:20px">
					<f:facet name="actions">
						<p:commandLink
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
							update="@form">
							<h:outputText styleClass="ui-icon ui-icon-star" />
						</p:commandLink>
					</f:facet>

					<p:messages id="messages" showDetail="true" autoUpdate="true"
						closable="true" />

					<p:panelGrid columns="2"
						columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
						styleClass="ui-panelgrid-blank">

						<p:selectManyCheckbox id="grid3" value="#{area.metricId}"
							layout="pageDirection" columns="1">
							<f:selectItems
								value="#{infrastructureUI.listMetricAttributes('DatasourcesType')}" var="attr"
								itemLabel="#{attr.attributeName}" itemValue="#{attr.id}" />
							<p:ajax partialSubmit="true" immediate="true" update="@form" />
						</p:selectManyCheckbox>

						<p:chart id="chart" type="line" model="#{area.getModel(10)}"
							style="height:300px" />

					</p:panelGrid>

				</p:panel>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
