<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title><h:outputText value="#{msg.welcomeTitle}" /></title>
</h:head>

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Servers</h3>
			<p:dataTable var="server" value="#{infrastructureUI.servers}">
				<p:column headerText="Domain">
			        <h:outputText value="#{server.owner.domain}" />
			    </p:column>
			    
			    <p:column headerText="Server">
			        <h:outputText value="#{server.owner.server}" />
			    </p:column>
			 
			    <p:column headerText="Status">
			        <h:outputText value="#{server.getAttributeValue('State')}" />
			    </p:column>
			</p:dataTable>
			
			<h3>Clusters</h3>
			<p:dataTable var="cluster" value="#{infrastructureUI.clusters}">
			    <p:column headerText="Name">
			        <h:outputText value="#{cluster.name}" />
			    </p:column>
			 
			    <p:column headerText="Status">
			        <h:outputText value="#{cluster.status}" />
			    </p:column>
			</p:dataTable>
			
			<p:panel header="Actions" >
				<p:commandButton value="Start Jobs" actionListener="#{infrastructureUI.startJobs()}"/>
				<p:commandButton value="Stop Jobs" actionListener="#{infrastructureUI.stopJobs()}"/>
				<p:commandButton value="Clear DB" actionListener="#{infrastructureUI.clearStorage()}"/>
			</p:panel>
		</ui:define>
	</ui:composition>
	
</h:body>
</html>
