<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>JMS</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>JMS Destinations</h3>
			<p:dataTable var="jms" value="#{infrastructureUI.JMSDestinations}">
			
				<p:column headerText="Module" sortable="true">
			        <h:outputText value="" />
			    </p:column>
			    
			    <p:column headerText="Name" sortable="true">
			        <h:outputText value="#{jms.name}" />
			    </p:column>
			    
			    <p:column headerText="Type">
			        <h:outputText value="#{jms.getAttributeValue('DestinationType')}" />
			    </p:column>
				    
		            
			    <p:column headerText="Server" sortable="true">
			        <h:outputText value="#{jms.owner.server}" />
			    </p:column>			    
			    
			    <p:column headerText="Insertion in pause">
			        <h:outputText value="#{jms.getAttributeValue('InsertionPaused')}" />
			    </p:column>
			    
			    <p:column headerText="Consumption in pause">
			        <h:outputText value="#{jms.getAttributeValue('ConsumptionPaused')}" />
			    </p:column>
			    
			    <p:column headerText="Msg Pending" sortable="true">
			        <h:outputText value="#{jms.getAttributeValue('MessagesPendingCount')}" />
			    </p:column>
			    
			    <p:column headerText="Msg Current" sortable="true">
			        <h:outputText value="#{jms.getAttributeValue('MessagesCurrentCount')}" />
			    </p:column>
			    
			    <p:column headerText="Msg High">
			        <h:outputText value="#{jms.getAttributeValue('MessagesHighCount')}" />
			    </p:column>
			    
			    <p:column headerText="Consumers">
			        <h:outputText value="#{jms.getAttributeValue('ConsumersCurrentCount')}" />
			    </p:column>

			</p:dataTable>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
