<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>OSB</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>OSB Proxy</h3>
			<p:dataTable var="ress" value="#{infrastructureUI.osbProxy}" resizableColumns="true" resizeMode="expand">
    
			    <p:column headerText="Project">
			        <h:outputText value="#{ress.getAttributeValue('Project')}" />
			    </p:column>
			    
			    <p:column headerText="Name">
					<h:outputText value="#{ress.getAttributeValue('ResourceName')}" />
				</p:column>
				
				
			    <p:column headerText="Name">
					<h:outputText value="#{ress.getAttributeValue('ResourceName')}" />
				</p:column>
			</p:dataTable>
			
			<h3>OSB Business</h3>
			<p:dataTable var="ress" value="#{infrastructureUI.osbBusiness}" resizableColumns="true" resizeMode="expand">
    
			    <p:column headerText="Project">
			        <h:outputText value="#{ress.getAttributeValue('Project')}" />
			    </p:column>
			    
			    <p:column headerText="Name">
					<h:outputText value="#{ress.getAttributeValue('ResourceName')}" />
				</p:column>
				
			    <p:column headerText="Statistics">
		        
			    </p:column>
			</p:dataTable>
			
			<h3>Performance graph</h3>
			Use graph to follow dependdencies with perf info
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
