<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>Weblogic instances</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>Weblogic instances</h3>
			
			<h:form>
			 
			<p:dataTable id="servers" var="server" value="#{infrastructureUI.servers}" 
				style="margin-bottom:0" >
		        
				<p:column headerText="Domain" >
			        <h:outputText value="#{server.owner.domain}" />
			    </p:column>
			    
			    <p:column headerText="Cluster">
			        <h:outputText value="#{server.getAttributeValue('ClusterMaster')}" />
			    </p:column>
			    
			    <p:column headerText="Name">
			        <h:outputText value="#{server.owner.server}" />
			    </p:column>
			    
			    <p:column headerText="Admin">
			        <h:outputText value="#{server.getAttributeValue('AdminServer')}" />
			    </p:column>
			 
			    <p:column headerText="Status">
			        <h:outputText value="#{server.getAttributeValue('State')}" />
			    </p:column>
			    
			    <p:column headerText="Health">
			        <h:outputText value="#{server.getAttributeValue('HealthState')}" />
			    </p:column>
		       
			</p:dataTable>
			</h:form>
		    
			<p/>

			<p:tabView dynamic="true" id="tabs" cache="false" activeIndex="#{infrastructureUI.indexTabServer}">
				<p:ajax event="tabChange" listener="#{area.raz()}" update="@this"/>
				
				<p:tab title="JVM" id="tabJVM" >
 
					<p:dataTable var="jvm" value="#{infrastructureUI.JVMs}" 
						liveResize="true" sortBy="#{jvm.name}"
						rowStyleClass="#{infrastructureUI.toMB(jvm.getAttributeValue('HeapFreeCurrent')) le 80 ? 'warning' : ''}"
						selection="#{area.selectedJmxMetrics}" rowKey="#{jvm.id}" rowSelectMode="checkbox">
					    
					    <f:facet name="header">
				            Checkbox
				        </f:facet>
				        
				        <p:ajax event="rowSelectCheckbox" update="tabs:tabJVM msg" immediate="true"/>
		        		<p:ajax event="rowUnselectCheckbox" update="tabs:tabJVM msg" immediate="true"/>
		        		
		        		<p:column selectionMode="multiple" style="width:16px;text-align:center"/>
		        		
					    <p:column headerText="Name">
					        <h:outputText value="#{jvm.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column headerText="Version">
					        <h:outputText value="#{jvm.getAttributeValue('JavaVersion')}" />
					    </p:column>
					    
					    <p:column headerText="Heap Current Mo">
					        <h:outputText value="#{infrastructureUI.toMB(jvm.getAttributeValue('HeapSizeCurrent'))}"/>
					    </p:column>
					    
					    <p:column headerText="Heap Free Mo">
					        <h:outputText value="#{infrastructureUI.toMB(jvm.getAttributeValue('HeapFreeCurrent'))}" />
					    </p:column>
					    
					    <p:column headerText="Heap Max Mo">
					        <h:outputText value="#{infrastructureUI.toMB(jvm.getAttributeValue('HeapSizeMax'))}" />
					    </p:column>
					    
					</p:dataTable>
					
						
					<ui:include src="/components/graph.xhtml" />

				</p:tab>
				<p:tab title="HTTP / HTTPS" id="tabHTTP">

					<p:dataTable var="sc" value="#{infrastructureUI.serverHttpChannels}" liveResize="true" sortBy="#{sc.jmx_name}"
						rowStyleClass="#{sc.getAttributeValue('ConnectionsCount') ge 50 ? 'warning' : ''}"
						selection="#{area.selectedJmxMetrics}" rowKey="#{sc.id}"
						style="margin-bottom:0" rowSelectMode="checkbox">
					    
					    <f:facet name="header">
				            Checkbox
				        </f:facet>
				        
				        <p:ajax event="rowSelectCheckbox" update="tabs msg" immediate="true"/>
		        		<p:ajax event="rowUnselectCheckbox" update="tabs msg" immediate="true"/>
		        		
		        		<p:column selectionMode="multiple" style="width:16px;text-align:center"/>
		        		
					    <p:column headerText="Name">
					        <h:outputText value="#{sc.jmx_name}" />
					    </p:column>
					    
					    <p:column headerText="URL">
					        <h:outputText value="#{sc.getAttributeValue('PublicURL')}" />
					    </p:column>
					    
					    <p:column headerText="Accept">
					        <h:outputText value="#{sc.getAttributeValue('AcceptCount')}"/>
					    </p:column>
					    
					    <p:column headerText="Connections">
					        <h:outputText value="#{sc.getAttributeValue('ConnectionsCount')}" />
					    </p:column>
					    
					    <p:column headerText="MessagesReceived">
					        <h:outputText value="#{sc.getAttributeValue('MessagesReceivedCount')}" />
					    </p:column>
					    
					     <p:column headerText="MessagesSentCount">
					        <h:outputText value="#{sc.getAttributeValue('MessagesSentCount')}" />
					    </p:column>
					    
					</p:dataTable>
					
					<ui:include src="/components/graph.xhtml" />
					
				</p:tab>
				<p:tab title="LDAP" id="tabLDAP">
					<p:dataTable var="sc" value="#{infrastructureUI.serverLdapChannels}" liveResize="true" sortBy="#{sc.name}"
						rowStyleClass="#{sc.getAttributeValue('ConnectionsCount') ge 50 ? 'warning' : ''}"
						selection="#{area.selectedJmxMetrics}" rowKey="#{sc.id}" rowSelectMode="checkbox">
					    
					    <f:facet name="header">
				            Checkbox
				        </f:facet>
				        
				        <p:ajax event="rowSelectCheckbox" update="tabs:tabLDAP msg" immediate="true"/>
		        		<p:ajax event="rowUnselectCheckbox" update="tabs:tabLDAP msg" immediate="true"/>
		        		
		        		<p:column selectionMode="multiple" style="width:16px;text-align:center"/>
		        		
					    <p:column headerText="Name">
					        <h:outputText value="#{sc.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column headerText="URL">
					        <h:outputText value="#{sc.getAttributeValue('PublicURL')}" />
					    </p:column>
					    
					    <p:column headerText="Accept">
					        <h:outputText value="#{sc.getAttributeValue('AcceptCount')}"/>
					    </p:column>
					    
					    <p:column headerText="Connections">
					        <h:outputText value="#{sc.getAttributeValue('ConnectionsCount')}" />
					    </p:column>
					    
					    <p:column headerText="MessagesReceived">
					        <h:outputText value="#{sc.getAttributeValue('MessagesReceivedCount')}" />
					    </p:column>
					    
					     <p:column headerText="MessagesSentCount">
					        <h:outputText value="#{sc.getAttributeValue('MessagesSentCount')}" />
					    </p:column>
					    
					</p:dataTable>
					
					<ui:include src="/components/graph.xhtml" />
				</p:tab>
				<p:tab title="IIOP" id="tabIIOP">
					<p:dataTable var="sc" value="#{infrastructureUI.serverIiopChannels}" liveResize="true" sortBy="#{sc.name}"
						rowStyleClass="#{sc.getAttributeValue('ConnectionsCount') ge 50 ? 'warning' : ''}">
					    
					    <p:column headerText="Name">
					        <h:outputText value="#{sc.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column headerText="URL">
					        <h:outputText value="#{sc.getAttributeValue('PublicURL')}" />
					    </p:column>
					    
					    <p:column headerText="Accept">
					        <h:outputText value="#{sc.getAttributeValue('AcceptCount')}"/>
					    </p:column>
					    
					    <p:column headerText="Connections">
					        <h:outputText value="#{sc.getAttributeValue('ConnectionsCount')}" />
					    </p:column>
					    
					    <p:column headerText="MessagesReceived">
					        <h:outputText value="#{sc.getAttributeValue('MessagesReceivedCount')}" />
					    </p:column>
					    
					     <p:column headerText="MessagesSentCount">
					        <h:outputText value="#{sc.getAttributeValue('MessagesSentCount')}" />
					    </p:column>
					    
					</p:dataTable>
				</p:tab>
				<p:tab title="SNMP" id="tabSNMP">
					<p:dataTable var="sc" value="#{infrastructureUI.serverSnmpChannels}" liveResize="true" sortBy="#{sc.name}"
						rowStyleClass="#{sc.getAttributeValue('ConnectionsCount') ge 50 ? 'warning' : ''}">
					    
					    <p:column headerText="Name">
					        <h:outputText value="#{sc.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column headerText="URL">
					        <h:outputText value="#{sc.getAttributeValue('PublicURL')}" />
					    </p:column>
					    
					    <p:column headerText="Accept">
					        <h:outputText value="#{sc.getAttributeValue('AcceptCount')}"/>
					    </p:column>
					    
					    <p:column headerText="Connections">
					        <h:outputText value="#{sc.getAttributeValue('ConnectionsCount')}" />
					    </p:column>
					    
					    <p:column headerText="MessagesReceived">
					        <h:outputText value="#{sc.getAttributeValue('MessagesReceivedCount')}" />
					    </p:column>
					    
					     <p:column headerText="MessagesSentCount">
					        <h:outputText value="#{sc.getAttributeValue('MessagesSentCount')}" />
					    </p:column>
					    
					</p:dataTable>
				</p:tab>
				<p:tab title="T3" id="tabT3">
					<p:dataTable var="sc" value="#{infrastructureUI.serverT3Channels}" liveResize="true" sortBy="#{sc.name}"
						rowStyleClass="#{sc.getAttributeValue('ConnectionsCount') ge 50 ? 'warning' : ''}">
					    
					    <p:column headerText="Name">
					        <h:outputText value="#{sc.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column headerText="URL">
					        <h:outputText value="#{sc.getAttributeValue('PublicURL')}" />
					    </p:column>
					    
					    <p:column headerText="Accept">
					        <h:outputText value="#{sc.getAttributeValue('AcceptCount')}"/>
					    </p:column>
					    
					    <p:column headerText="Connections">
					        <h:outputText value="#{sc.getAttributeValue('ConnectionsCount')}" />
					    </p:column>
					    
					    <p:column headerText="MessagesReceived">
					        <h:outputText value="#{sc.getAttributeValue('MessagesReceivedCount')}" />
					    </p:column>
					    
					     <p:column headerText="MessagesSentCount">
					        <h:outputText value="#{sc.getAttributeValue('MessagesSentCount')}" />
					    </p:column>
					    
					</p:dataTable>
				</p:tab>
				<p:tab title="WorkManagers" id="tabWM">
					<p:dataTable var="wm" value="#{infrastructureUI.workManagers}" liveResize="true" sortBy="#{wm.name}"
						rowStyleClass="#{wm.getAttributeValue('PendingRequests') ge 1 ? 'warning' : ''}">

						<p:columnGroup type="header">
							<p:row>
								<p:column colspan="4" headerText="" />
								<p:column colspan="3" headerText="Minimum Constraint" />
								<p:column colspan="3" headerText="Maximum Constraint" />
							</p:row>
							<p:row>
								<p:column headerText="Name" />
								<p:column headerText="PendingRequests" />
								<p:column headerText="CompletedRequests" />
								<p:column headerText="StuckThreadCount" />
								
								<p:column headerText="ExecutingRequests" />
								<p:column headerText="PendingRequests" />
								<p:column headerText="CurrentWaitTime" />
								
								<p:column headerText="ExecutingRequests" />
								<p:column headerText="PendingRequests" />
								<p:column headerText="CurrentWaitTime" />
							</p:row>
						</p:columnGroup>

						<p:column>
					        <h:outputText value="#{wm.getAttributeValue('Name')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('PendingRequests')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('CompletedRequests')}"/>
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('StuckThreadCount')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MinThreadsConstraintRuntime-ExecutingRequests')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MinThreadsConstraintRuntime-PendingRequests')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MinThreadsConstraintRuntime-CurrentWaitTime')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MaxThreadsConstraintRuntime-ExecutingRequests')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MaxThreadsConstraintRuntime-PendingRequests')}" />
					    </p:column>
					    
					    <p:column>
					        <h:outputText value="#{wm.getAttributeValue('MaxThreadsConstraintRuntime-CurrentWaitTime')}" />
					    </p:column>
					    
					</p:dataTable>
				</p:tab>
			</p:tabView>

		</ui:define>
	</ui:composition>
</h:body>
</html>
