<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg"/>

<h:head>
    <title>SOA</title>
</h:head>

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="content">

			<h3>SOA Components</h3>
			<p:dataTable var="compo" value="#{infrastructureUI.SCAComposites}">
			    
			    <p:column headerText="Partition">
			        <h:outputText value="#{compo.getAttributeValue('ApplicationName')}" />
			    </p:column>
			    
			    <p:column headerText="Name">
			        <h:outputText value="#{compo.getAttributeValue('CompositeQName')}" />
			    </p:column>
			    
			    <p:column headerText="Revision">
			        <h:outputText value="#{compo.getAttributeValue('Revision')}" />
			    </p:column>
			 
			    <p:column headerText="Status">
			        <h:outputText value="#{compo.status}" />
			    </p:column>
			    
			</p:dataTable>
			
			<h3>Message processing</h3>
			<p:dataTable var="msgProc" value="#{infrastructureUI.messageProcessing}">
			    
			    <p:column headerText="Name">
			        <h:outputText value="#{msgProc.getAttributeValue('Name')}" />
			    </p:column>

				<p:column headerText="Active Request">
					<h:outputText value="#{msgProc.getAttributeValue('activeRequests_value')}" />
				</p:column>
				<p:column headerText="Min Request">
					<h:outputText
						value="#{msgProc.getAttributeValue('activeRequests_minValue')}" />
				</p:column>
				<p:column headerText="Max Request">
					<h:outputText
						value="#{msgProc.getAttributeValue('activeRequests_maxValue')}" />
				</p:column>

			</p:dataTable>
			
			<h3>Engines</h3>
			
					<p:dataTable var="engine" value="#{infrastructureUI.bpelEngine}" liveResize="true">
					
			    		<p:columnGroup type="header">
			    			<p:row>
								<p:column colspan="1" rowspan="2" headerText="Name" />
								<p:column colspan="3" headerText="Active" />
								<p:column colspan="3" headerText="Exec time" />
								<p:column colspan="3" headerText="Pending time" />
								<p:column colspan="3" headerText="Scheduled" />
								<p:column colspan="3" headerText="Thread" />
								<p:column colspan="3" headerText="Errors" />
								<p:column colspan="3" headerText="Processed" />
							</p:row>
							<p:row>
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
								
								<p:column headerText="Value" />
								<p:column headerText="Min" />
								<p:column headerText="Max" />
							</p:row>
						</p:columnGroup>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('Name')}" />
						</p:column>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('active_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('active_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('active_maxValue')}" />
						</p:column>    

						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgExecTime_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgExecTime_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgExecTime_maxValue')}" />
						</p:column> 
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgPendingTime_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgPendingTime_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('avgMsgPendingTime_maxValue')}" />
						</p:column>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('scheduled_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('scheduled_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('scheduled_maxValue')}" />
						</p:column>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('threadCount_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('threadCount_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('threadCount_maxValue')}" />
						</p:column>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalErroredMsgs_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalErroredMsgs_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalErroredMsgs_maxValue')}" />
						</p:column>
						
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalProcessedMsgs_value')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalProcessedMsgs_minValue')}" />
						</p:column>
						<p:column >
							<h:outputText value="#{engine.getAttributeValue('totalProcessedMsgs_maxValue')}" />
						</p:column>
						
					</p:dataTable>
				
				
			<p:tabView>
				<p:tab title="Services" >
					<p:dataTable var="binding" value="#{infrastructureUI.SCAServices}" liveResize="true">
					
			    		<p:columnGroup type="header">
							<p:row>
								<p:column headerText="Component" />
								<p:column headerText="Name" />
								<p:column headerText="Status" />
								<p:column headerText="Type" />
								<p:column headerText="SubType" />
								<p:column headerText="Stateful" />
								<p:column headerText="WSDL" />
								<p:column headerText="DefaultAddressURI" />
								<p:column headerText="EndpointAddressURI" />
							</p:row>
						</p:columnGroup>
						
						<p:column >
						        <h:outputText value="#{binding.parent.name}" />
						</p:column>
						    

						    <p:column >
						        <h:outputText value="#{binding.name}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('Available')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('BindingType')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('BindingSubtype')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('Stateful')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('WSDLURI')}" />
						    </p:column>
						 
						 	<p:column >
						        <h:outputText value="#{binding.getAttributeValue('DefaultAddressURI')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('EndpointAddressURI')}" />
						    </p:column>
						    
						
					</p:dataTable>
				</p:tab>
				
				<p:tab title="References">
					<p:dataTable var="binding" value="#{infrastructureUI.SCAReferences}" liveResize="true">
					
			    		<p:columnGroup type="header">
							<p:row>
								<p:column headerText="Component" />
								<p:column headerText="Name" />
								<p:column headerText="Type" />
								<p:column headerText="SubType" />
								<p:column headerText="WSDL" />
							</p:row>
						</p:columnGroup>
						
				    	<p:column >
						        <h:outputText value="#{binding.parent.name}" />
						</p:column>
						
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('Config')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('BindingType')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('BindingSubtype')}" />
						    </p:column>
						    
						    <p:column >
						        <h:outputText value="#{binding.getAttributeValue('WSDLURI')}" />
						    </p:column>		    
						    
					</p:dataTable>
				</p:tab>
			</p:tabView>
			
			
			<h3>Performance graph</h3>
			Use graph to follow dependdencies with perf info
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
