<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
		<h:outputStylesheet name="common-style.css" library="css" />
		
		<style type="text/css">
            .warning {
                background-color: #fca752 !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </h:head>

    <h:body>

	<div id="page">

	    <div id="header">
		<ui:insert name="header" >
		  <ui:include src="/components/menu.xhtml" />
		</ui:insert>
	    </div>

	    <div id="content" class="ui-fluid">
	    <p:messages id="msg" showDetail="true" autoUpdate="true" closable="true" />
	    
	    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="ajax-loader.gif" />
		</p:dialog>
			
	    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	    
	  	<ui:insert name="content" >
	 	  <ui:include src="/index.xhtml" />
	   	</ui:insert>
	    </div>

	    <div id="footer">
	    	<ui:insert name="footer" >
	    	</ui:insert>
    	    </div>

        </div>

    </h:body>
</html>